* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Roboto';
}

body{
    margin: 3% 25%;
    border: 4px dashed black;
}

/* header */
.header-container{
    background-color: rgba(51, 168, 214, 0.548);
}

.header-container-filho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.header-title h1{
    font-size: x-large;
}

.header-links{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.header-links h2{   
    font-size: larger;
}

/* conteudo do site */
.principal{
    display: flex;
    width: 100%;
}

/* conteudo do site (esquerda) */
.principal-esquerda{
    width: 70%;
    padding: 5%;
}

.artigos-container{
    gap: 10px;
}

.artigo-infos {
    margin-top: 5%;
    margin-bottom: 5%;
}

.artigo-infos h1{
    font-size: x-large;
}
.artigo-infos p{
    font-size:small;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
.artigo-infos h2{
    font-size:medium;
    color: blue;
}

.artigos-hiperlink{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.artigos-hiperlink h1{
    font-size: medium;
    color: blue;
     margin-top: 3%;
}







.principal-direita{
    display: flex;
    flex-direction: row;
    width: 30%;
    background: rgba(100, 167, 62, 0.534);
}

.categorias-container{
    padding: 10%;
}

.categorias-container h1{
    font-size: x-large;
}

.categorias-list{
    margin-top: 15%;
    list-style: none;
}


.footer{
    padding: 5%;
    display: flex;
    justify-content: center;
    background: rgba(255, 115, 0, 0.63);
}

.footer h1{
    font-size: large;
}

